/* HEADER */

header {
    transition: padding 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

header.scrolled {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

header nav {
    margin-right: 50px;
}

nav a {
    letter-spacing: 3px;
    font-size: 20px;
    color: #f8c419;
    transition: font-size 0.3s ease-in-out;
}

header.scrolled nav a {
    font-size: 16px;
    letter-spacing: 2px;
}

.logo {
    width: 150px;
    transition: width 0.3s ease-in-out;
}

header.scrolled .logo {
    width: 100px;
}

.initial {
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.initial h1 {
    margin-top: -75px;
    width: 60%;
    font-size: 80px;
}

h1, h2, h3, h4, h5, h6, nav a {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 5px;
}
